
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

h2{
  font-family: 'Lobster', cursive;
  font-size: 20cm;
}

/* allows the bar-footer to be elastic /*
/* optionally set a max-height */
/* maxlength on the textarea will prevent /*
/* it from getting too large also */
.bar-footer {
  overflow: visible !important;
}
.messages {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px; }
  .messages .message {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 10px;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    overflow: hidden;
    text-align: left;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.time {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  width: 120px;
  text-align: center;
  padding: 0 0 0 0;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -webkit-transform: translate3d(10px, 0, 0);
  -moz-transform: translate3d(10px, 0, 0);
  transform: translate3d(10px, 0, 0); }
  .time.slide-right {
    -webkit-transform: translate3d(130px, 0, 0);
    -moz-transform: translate3d(130px, 0, 0);
    transform: translate3d(130px, 0, 0); }

.messages span {
  background: #C7C7CC;
  display: inline-block;
  color: black;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
  width: 100%; }

.messages.other .message {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  text-align: right; }
.messages.other .message.slide-right {
  -webkit-transform: translate3d(120px, 0, 0);
  -moz-transform: translate3d(120px, 0, 0);
  transform: translate3d(120px, 0, 0); }
.messages.other span {
  color: white;
  background-color: #007AFF; }

.scroll-content {
  display: table !important;
  width: 100% !important;
  height: 100% !important;
}
.scroll {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.img-circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    text-align: center;
}

.signin_title {
  font-family: 'Baloo Bhaina', cursive;
  color: lightcoral;
  text-shadow: 2px 2px lightblue;
  text-align: center;
}

.ion-android-arrow-forward{
  text-align: left;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: bold;
}
.title{
  font-family: 'Lobster', cursive;
}
.small-icon {
background: #F0F0F0;
border: 1px solid #979797;
border-radius: 4px;
  height:40px;
  width:40px;
  display:inline-block;
}

