<ion-view view-title="Trả lời câu hỏi" class="middle_full"> 
    <ion-content padding="true" class="content-stable">
        <div class="list" ng-repeat="item in list_ques">
                <div class="row" ng-repeat="item in questions.list_ques">
                <span editable-text="item.ques" e-name="ques" e-form="rowform">
                  <a href="#/tab/question/{{ $index }}">  {{ item.ques || 'empty' }} </a>
                </span>
                </div>
        </div>
        {{ idFriend }}   
    </ion-content>
</ion-view>