<ion-view view-title="Thông tin cá nhân">
 <ion-content has-header="true">
      <div>
          <div>
          <img class="img-circle" src="../img/logo.png">
          <h1 id="profile-name" <class="signin_title"><a href="#" editable-text="user.name"> {{ user.name || "empty" }}</a></h1>
          <div class="list">
                <div class="item item-icon-left">
                    <i class="icon ion-calendar"> </i>
                    Ngày sinh: <a href="#" editable-text="user.date" > {{ (user.date | date: "dd-MM-yyyy") || 'empty' }}</a>
                </div>
                <div class="item item-icon-left">
                    <i class="icon ion-speakerphone" > </i>
                     Phương châm: <a href="#" editable-text="user.slogan"> {{ user.slogan || "empty" }}</a>
                </div>
                 <div class="item item-icon-left">
                    <i class="icon ion-thumbsup"> </i>
                       Sở thích: <a href="#" editable-text="user.hobby"> {{ user.hobby || "empty" }}</a>
                </div>
                <div class="item item-icon-left">
                    <i class="icon ion-transgender"> </i>
                        Gender: {{  user.gender || "empty" }}
                </div>
                  

         </div>
          </div>
      </div>
</ion-content>
</ion-view>