<ion-view view-title="Cài đặt">    
     <ion-content>
        <div class="card">
        <a href="#/tab/profile">
        <div class="item item-avatar">
            <img src="../img/logo.png" href="#/profile">
            <h2>{{ user.name }}</h2> <!-- user.name -->
            <p>{{ user.date }}</p> <!-- user,date -->
        </div>
        </a>
        </div>
         <div class="row"></div>
         <button class="button button-block button-balanced icon-right icon ion-android-arrow-forward">
             Câu hỏi
         </button>
         <div class="row"></div>
         <button class="button button-block button-royal icon icon-right ion-android-arrow-forward">
             Đăng xuất
         </button>
     </ion-content>
</ion-view>