 <ion-view title="Đăng ký">
        <ion-content>
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Tên người dùng</span>
              <input type="text" ng-model="user.name" autofocus>
            </label>

            <label class="item item-input"> 
              <span class="input-label">Email</span>
              <input type="email" ng-model="user.email">
            </label>

            <label class="item item-input">
              <span class="input-label">Mật khẩu</span>
              <input type="password" ng-model="user.password">
            </label>

            <label class="item item-input">
              <span class="input-label">Nhập lại mật khẩu</span>
              <input type="password" ng-model="user.confirmpassword">
            </label>
            <label class = "item item-input item-select">
            <div class = "input-label">Giới tính</div>	
            <select ng-model="user.gender">
                <option>Lesbian</option>
                <option>Gay</option>
                <option>Bisexual</option>
                <option>Transgender</option>
            </select>
            </label>            

            <label class="item item-input">
              <span class="input-label">Ngày sinh</span>
              <input type="text" ng-model="user.date">
            </label>
          </div>
          <h6 style="color: red">{{ msg }}</h6>
          <div class="padding">
            <button class="button button-block button-positive" ng-click="signUp(user)">
              Hoàn tất
            </button>
            <p class="text-center">
            <a href="#/sign-in">Đăng nhập</a>
            </p>
        </ion-content>
     </ion-view>