<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="../lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="../lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="../js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-stable bar bar-header">
        <h1 class="title">Đăng ký</h1>
      </ion-header-bar>
     <ion-view title="Sign-up">
        <ion-content>
          <div class="list">
            <label class="item item-input"> 
              <span class="input-label">Email</span>
              <input type="text" ng-model="user.email">
            </label>

            <label class="item item-input">
              <span class="input-label">Mật khẩu</span>
              <input type="password" ng-model="user.password">
            </label>

            <label class="item item-input">
              <span class="input-label">Nhập lại mật khẩu</span>
              <input type="password" ng-model="user.repassword">
            </label>

            <label class = "item item-input item-select">
            <div class = "input-label">Giới tính</div>	
            <select>
                <option>Nam</option>
                <option>Nữ</option>
            </select>
            </label>
          </div>
          <div class="padding">
            <button class="button button-block button-positive" ng-click="signup(user)">
              Hoàn tất
            </button>
        </ion-content>
     </ion-view>
    </ion-pane>
  </body>
</html>
